@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Container */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
}




/* Avatar, nome, city, descrição */

.img{
    border-radius: 50%;
    margin-bottom: 2rem;
    width: 6rem;
    height: 6rem;
}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 12.5rem;
    padding: 4rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 12%);
}

.name{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(0, 0%, 100%);
}

.city{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 1rem;
    color: hsl(75, 94%, 57%);
}

.descricao{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: hsl(0, 0%, 83%);
}

/* Button */

.options{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 10rem;
    width:20rem;
    height: 20rem;
}


.btn{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: #FFF;
    background-color: hsl(0, 0%, 20%);
}

.btn:hover{
    background-color: hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 20%) ;
}

